<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <appSettings file="Shared.Config"></appSettings>

  <connectionStrings>
    <add name="ChattiesEntities" connectionString="metadata=&quot;res://ChattiesModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/UserManagement.UserManagementModel.csdl|res://ChattiesModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/UserManagement.UserManagementModel.ssdl|res://ChattiesModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/UserManagement.UserManagementModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=Isai\SQLEXPRESS;initial catalog=ENLASYS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ENLASYSEntities" connectionString="metadata=&quot;res://ChattiesModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/UserManagement.UserManagement.csdl|res://ChattiesModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/UserManagement.UserManagement.ssdl|res://ChattiesModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/UserManagement.UserManagement.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=Isai\SQLEXPRESS;initial catalog=ENLASYS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>