<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <connectionStrings>
    <add name="ChattiesEntities" connectionString="metadata=&quot;res://*/User Management.UserManagementModel.csdl|res://*/User Management.UserManagementModel.ssdl|res://*/User Management.UserManagementModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISAI\SQLEXPRESS;initial catalog=ENLASYS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ENLASYSEntities" connectionString="metadata=&quot;res://*/User Management.UserManagement.csdl|res://*/User Management.UserManagement.ssdl|res://*/User Management.UserManagement.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISAI\SQLEXPRESS;initial catalog=ENLASYS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
